<!DOCTYPE html>
<html>

 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<head>

{% load static %}



<link rel="stylesheet" type="text/css" href="{% static 'polls/style-blog.css' %}?{% now "U" %}'>
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<title></title>
</head>
<body>
    <div class="logo">
    <a href="pet-home.html"><img src = "{% static "polls/images/wort-logo.png" %}"></a>    
    </div>

    <nav>
        <ul>
        <li><a href="pet-about.html" class="cool-link">Home</a></li>
        <li><a href="pet-members.html" class="cool-link">Uber mich</a></li>
        <li><a href="pet-act.html" class="cool-link">Archiv</a></li>
        <li><a href="pet-event.html" class="cool-link">Kontakt</a></li>
        </ul>

    </nav>

 



</body>


<br>
<div class="blog-posts">

    <div class="blogtitle">
        <h2>{{ post.title }}<h2/>
    </div>
    <time datetime="03-06-2021"><p style="color:gray">{{ post.time }}</p></time>
    <div class="blogtext">
        <p>{{ post.body |safe|linebreaks }}</p>
    </div>
    <hr>

    

</div>


<div class = "blog-posts">
        <!-- comments -->
       <h3>Comments ({{ comments.count }}):</h3>
        {% for comment in comments %}
        <div class="comments" style="padding: 1px;">
          <p style ="font-weight: bold" class="font-weight-bold">
            {{ comment.name }}
            <span style ="font-weight: normal; color: gray" class=" text-muted font-weight-normal">
            {{ comment.created_on }}
            </span>
          </p>
          {{ comment.message | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
<div class = "blog-posts">
        <h3>Leave a comment:</h3>
        <form method="post" style="margin-top: 1.3em;" input[type=text]="width:100%;   border: 2px solid blue;
  border-radius: 4px">
		 <p>{% csrf_token %}
          {{ comment_form.name}}</p>
         <p>{{ comment_form.message }}</p>
          <button type="submit" style="color: white; background-color: black; width: 750px;font: bold; height: 30px;" class="btn btn-primary  btn-block">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>


</html>
