<!DOCTYPE html>
<html>

 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<head>

{% load static %}


<link rel="stylesheet" type="text/css" href= "{% static 'polls/style-blog.css' %}?{% now "U" %}">
<link rel="icon" href="https://i.imgur.com/jKHq0le.png">
<title></title>
</head>
<body>
    <div class="logo">
    <a href="{% url 'home' %}"><img src = "{% static 'polls/images/wort-logo2.png' %}?{% now "U" %}" ></a>    
    </div>

    <nav>
        <ul>
        <li><a href="{% url 'home' %}" class="cool-link">Home</a></li>
        <li><a href="{% url 'about-detail' %}" class="cool-link">&Uuml;ber mich</a></li>
        <li><a href="{% url 'list-detail' %}" class="cool-link">Archiv</a></li>
        <li><a href="{% url 'contact-detail' %}" class="cool-link">Kontakt</a></li>
        </ul>

    </nav>

 



</body>



<div class="blog-posts">
<br>
<br>
<p>I am not a specialist. Nor am I a linguist, or a linguistics student.</p>
<br>
<p>I am simply the owner of a copy of DUDEN's Herkunftsw&ouml;rterbuch.</p>
<br>
<img src = "{% static "polls/images/mybook.jpg" %}" style="width: 55vw; min-width: 330px;">
<br>
<br>
<p>I hope the things I write here can bring you some joy.</p>
<br>
<br>

</div>



</html>
